/* ================== Seção Tags =============== */

body {
    margin: 0px;
}

h1 {
    margin-top: 0px;
}

/* ================== Seção Classes ============ */

.top-container {
    background-color: #14274e;
}

.efeito {
    text-decoration: underline;
}